* {
  box-sizing: border-box;
}
.list-view {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 42px;
  padding: 42px;
  border: 1px solid black;
}

.list-view li{
  list-style: none;
  margin: 6px 0;
  background-color: darksalmon;
  border: 1px dotted black;
  padding: 12px;
}
